body {
  background-color: lightgray;
}

#closebutton {
  margin-left: 6px;
}

.card-text {
  margin-bottom: 1px;
}

.addbookmark {
  margin-top: 12px;
}

.removegroup {
  margin-top: 12px;
}

.movegroupup {
  margin-top: 12px;
}

.movegroupdown {
  margin-top: 12px;
}

.cardcontainer {
  margin-left: -6px;
  margin-right: -6px;
}

.bookmarkname {
  margin-top: 12px;
}

.navbar {
  margin-bottom: 12px;
}

.card {
  margin-bottom: 9px;
}